<!DOCTYPE html>
<html>
<head>
  <title>Zalenium chaos</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "zalenium/chaos/application", media: "all" %>
  <%= javascript_include_tag "zalenium/chaos/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
